/* Define root colors */
.root {
    -fx-font-family: "ubuntu";
    -fx-color-purple: #07002D;
    -fx-color-white: #FDFCFC;
    -fx-color-green: #15F5BA;
    -fx-color-light-purple: #836FFF;
    -fx-color-pink: #EB3678;
    -fx-color-grey: #C6C6C6;
    -fx-color-white2: f2f3f5;
    -fx-font-size : 18px;
}

/* Style for labels */
.label {
    -fx-text-fill: -fx-color-purple;
    -fx-font-weight: bold;
    -fx-padding: 5px;
    -fx-font-size: 12px;
}

/* Style for TextField */
.text-field {
    -fx-background-color: -fx-color-white;
    -fx-background-radius: 5px;
    -fx-padding: 8px;
    -fx-text-fill: -fx-color-purple;
}

.text-field:focused {
    -fx-background-color: -fx-color-white;

    -fx-border-width: 1.5px;
    -fx-border-radius: 5px;
}

/* Enhanced Style for DatePicker */
.date-picker {
    -fx-background-color: -fx-color-white;
    -fx-background-radius: 10px;
    -fx-padding: 8px;
    -fx-text-fill: -fx-color-purple;
    -fx-font-size: 13px;
    -fx-border-color: -fx-color-grey;
    -fx-border-width: 1px;
}

.

.date-picker .text {
    -fx-text-fill: -fx-color-purple;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

.date-picker-popup {
    -fx-background-radius: 10px;
    -fx-padding: 10px;
    -fx-effect: dropshadow(gaussian, -fx-color-grey, 15, 0.5, 0, 0);
}

.date-cell {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-color-purple;
    -fx-font-size: 16px;
}



/* Style for ComboBox */
.combo-box {
    -fx-background-color: -fx-color-white;
    -fx-background-radius: 5px;
    -fx-padding: 8px;
    -fx-text-fill: -fx-color-purple;
}

.combo-box:focused {
    -fx-background-color: -fx-color-white;
    -fx-border-color: -fx-color-light-purple;
    -fx-border-width: 1.5px;
    -fx-border-radius: 5px;
}

/* Style for the Button */

.button2 {
    -fx-background-color: -fx-color-green;
    -fx-text-fill: -fx-color-white;
    -fx-font-weight: bold;
    -fx-background-radius: 10px; /* Reduced corner radius for a sleeker look */
    -fx-padding: 5px 10px; /* Reduced padding for compact size */
    -fx-font-size: 12px; /* Smaller font size for buttons */
}

.button2:hover {
    -fx-background-color: -fx-color-light-purple; /* Change color on hover */
}

.button2:pressed {
    -fx-background-color: -fx-color-pink; /* Change color when pressed */
}

/* Smaller Buttons in General */
.button {
    -fx-background-color: -fx-color-green;
    -fx-text-fill: -fx-color-white;
    -fx-font-weight: bold;
    -fx-background-radius: 10px; /* Reduced corner radius */
    -fx-padding: 5px 10px; /* Compact padding */
    -fx-font-size: 12px; /* Reduced font size */
}

.button:hover {
    -fx-background-color: -fx-color-light-purple; /* Change color on hover */
}

.button:pressed {
    -fx-background-color: -fx-color-pink; /* Change color when pressed */
}


