.root {
    -fx-font-family: "ubuntu";
    -fx-color-purple: #07002D;
    -fx-color-white: #FDFCFC;
    -fx-color-green: #15F5BA;
    -fx-color-light-purple: #836FFF;
    -fx-color-pink: #EB3678;
    -fx-color-grey: #C6C6C6;
    -fx-color-white2: f2f3f5;
}

.backgroundContainer {
    -fx-background-color: -fx-color-purple;
}

.tasksContainer{
    -fx-background-color: #f7f7f7;
    -fx-background-radius: 1px;

}

.welcome-label {
    -fx-font-size: 36px;           /* Font size */
    -fx-font-weight: bold;         /* Font weight */
    -fx-text-fill: -fx-color-purple;        /* Text color */
    -fx-background-color: transparent; /* Background color (transparent here) */
    -fx-padding: 10px;             /* Padding around the text */
    -fx-border-color: #f7f7f7;    /* Border color */
    -fx-border-width: 2px;        /* Border width */
    -fx-border-radius: 5px;       /* Border radius (rounded corners) */
    -fx-alignment: center;        /* Center align text */
}

.welcome-user-label {
    -fx-font-size: 32px;           /* Font size */
    -fx-text-fill: -fx-color-light-purple;        /* Text color */
    -fx-background-color: transparent; /* Background color (transparent here) */
    -fx-padding: 10px;             /* Padding around the text */
    -fx-border-color: #f7f7f7;    /* Border color */
    -fx-border-width: 2px;        /* Border width */
    -fx-border-radius: 5px;       /* Border radius (rounded corners) */
}

.time-user-label {
    -fx-font-size: 18px;           /* Font size */
    -fx-text-fill: #6B6868;        /* Text color */
    -fx-background-color: transparent; /* Background color (transparent here) */
    -fx-padding: 10px;             /* Padding around the text */
    -fx-border-width: 2px;        /* Border width */
    -fx-border-radius: 5px;       /* Border radius (rounded corners) */
}

.category-name-label {
   -fx-font-size: 20px;           /* Font size */
   -fx-text-fill: -fx-color-grey;        /* Text color */
   -fx-background-radius: 12px;
   -fx-padding: 5px;             /* Padding around the text */
   -fx-border-width: 2px;        /* Border width */
   -fx-border-radius: 32px;       /* Border radius (rounded corners) */
}
/*******************************************************************************/
/* General Label Style */
.menu-button-label {
    -fx-font-size: 16px;           /* Font size */
    -fx-font-weight: bold;
    -fx-text-fill: -fx-color-purple; /* Text color */
    -fx-background-color: transparent; /* Transparent background */
    -fx-padding: 10px;             /* Padding around the text */
    -fx-border-width: 2px;        /* Border width */
    -fx-border-radius: 5px;       /* Border radius (rounded corners) */
}

/* Button Style */
.menu-item {
    -fx-background-color: #FDFCFC; /* White background */
    -fx-background-radius: 15px;    /* Rounded corners */
    -fx-border-color: #FDFCFC;      /* White border */
    -fx-border-width: 2px;          /* Border width */
    -fx-border-radius: 15px;        /* Rounded corners */
    -fx-text-fill: white;           /* White text color */
}

.menu-item:hover {
    -fx-background-color: #07002D; /* Highlight background on hover */
    -fx-text-fill: #ffffff; /* White text color on hover */
    -fx-border-radius: 8px; /* Rounded corners for hover state */
}



/* Green Border Background Style */
.menu-button-green-border-background {
    -fx-background-color: #FDFCFC; /* White background */
    -fx-background-radius: 11px;       /* Rounded corners */
    -fx-border-color: -fx-color-green;  /* Green border */
    -fx-border-width: 1px;        /* Border width */
    -fx-border-radius: 10px;       /* Rounded corners */
}

/* Green Glowing Button */
.menu-button-green-effect {
    -fx-background-color: -fx-color-green; /* Green background */
    -fx-background-radius: 10px;       /* Rounded corners */
    -fx-border-color: -fx-color-green;  /* Green border */
    -fx-border-width: 7px;              /* Border width */
    -fx-border-radius: 10px;            /* Rounded corners */

}

/* Pink Border Background Style */
.menu-button-pink-border-background {
    -fx-background-color: #FDFCFC; /* White background */
    -fx-background-radius: 11px;       /* Rounded corners */
    -fx-border-color: -fx-color-pink;  /* Pink border */
    -fx-border-width: 1px;             /* Border width */
    -fx-border-radius: 10px;           /* Rounded corners */
}

/* Pink Glowing Button */
.menu-button-pink-effect {
    -fx-background-color: -fx-color-pink; /* Pink background */
    -fx-background-radius: 10px;       /* Rounded corners */
    -fx-border-color: -fx-color-pink;  /* Pink border */
    -fx-border-width: 7px;             /* Border width */
    -fx-border-radius: 10px;           /* Rounded corners */

}

/* Purple Border Background Style */
.menu-button-purple-border-background {
    -fx-background-color: #FDFCFC; /* White background */
    -fx-background-radius: 11px;       /* Rounded corners */
    -fx-border-color: -fx-color-light-purple;  /* Light purple border */
    -fx-border-width: 1px;        /* Border width */
    -fx-border-radius: 10px;       /* Rounded corners */
}

/* Purple Glowing Button */
.menu-button-purple-effect {
    -fx-background-color: -fx-color-light-purple; /* Light purple background */
    -fx-background-radius: 10px;       /* Rounded corners */
    -fx-border-color: -fx-color-light-purple;  /* Light purple border */
    -fx-border-width: 7px;              /* Border width */
    -fx-border-radius: 10px;            /* Rounded corners */

}


/*******************************************************************************/
/*******************************************************************************/

/* General Style for Image Views */
.image-button {
    -fx-cursor: hand; /* Changes the cursor to a hand on hover */
    -fx-background-color: transparent; /* Transparent background */

    -fx-padding: 10px; /* Padding around the image */
    -fx-alignment: center; /* Center the image inside */
    -fx-border-radius: 8px; /* Rounded corners */
}

/* Hover effect for Image View (Enlarge and shadow effect) */
.image-button:hover {

    -fx-scale-x: 1.05; /* Slightly enlarge the image on hover */
    -fx-scale-y: 1.05; /* Slightly enlarge the image on hover */
}
/*8888888888888888888888888888888888888888888888888888888888888888888*/

.searchFieldTask {
    -fx-background-color: #07002D; /* Dark background color */
    -fx-background-radius: 30px; /* Rounded corners */
    -fx-padding: 10px; /* Padding inside the text field */
    -fx-font-size: 16px; /* Font size */
    -fx-text-fill: #FDFCFC; /* White text color */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 6, 0.5, 0, 2);
}

.searchFieldTask:hover {
    -fx-border-color: #15F5BA; /* Shine border effect in green */
    -fx-border-radius: 30px; /* Increased border radius on hover */
    -fx-border-width: 2px;
}

/* Focus Effect for the Search Area (searchFieldTask) */
.searchFieldTask:focused {
    -fx-border-color: #15F5BA; /* Shine border effect in green */
    -fx-background-color: #1D0F3B; /* Slightly darker background when focused */
    -fx-border-radius: 30px; /* Increased border radius when focused */
    -fx-border-width: 2px;
}

/* Placeholder Text Styling for searchFieldTask */
.searchFieldTask .text {
    -fx-text-fill: #FDFCFC; /* White text color */
}

/* Style for the Clear Button in the TextField */
.searchFieldTask .clear-button {
    -fx-background-color: transparent; /* Transparent background */
    -fx-cursor: hand; /* Hand cursor on hover */

}

/* Style for the Clear Button Hover Effect */
.searchFieldTask .clear-button:hover {
    -fx-background-color: #1D0F3B; /* Darker background on hover */
}

/*SECOND PART OF THE DESIGN : THE NAVIGATION PART BRUUUUUUUUUUUUUUUUUUUUUH */

.leftNavbar {
    -fx-background-color: #fcfcfc; /* Background color */
    -fx-padding: 10px 20px; /* Padding: 10px top/bottom, 20px left/right */
    -fx-border-color: #C0C0C0; /* Border color */
    -fx-border-width: 0 0 2px 0; /* Border only at the bottom */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 5, 0, 0, 2); /* Optional: Add a subtle shadow */
}

.userName{
    -fx-text-fill: #07002D; /* Dark blue text color */
    -fx-font-size: 20px; /* Font size */
    -fx-font-weight: bold; /* Bold font weight */
}

