.root {
    -fx-font-family: "ubuntu";
    -fx-color-purple: #07002D;
    -fx-color-white: #FDFCFC;
    -fx-color-green: #15F5BA;
    -fx-color-light-purple: #836FFF;
    -fx-color-pink: #EB3678;
    -fx-color-grey: #C6C6C6;
}

.backgroundContainer {
    -fx-background-color: -fx-color-purple;
}

.tasksContainer{
    -fx-background-color: -fx-color-white;
    -fx-background-radius: 8px;

}


.welcome-label {
    -fx-font-size: 36px;           /* Font size */
    -fx-font-weight: bold;         /* Font weight */
    -fx-text-fill: #333333;        /* Text color */
    -fx-background-color: transparent; /* Background color (transparent here) */
    -fx-padding: 10px;             /* Padding around the text */
    -fx-border-color: -fx-color-white;    /* Border color */
    -fx-border-width: 2px;        /* Border width */
    -fx-border-radius: 5px;       /* Border radius (rounded corners) */
    -fx-alignment: center;        /* Center align text */
}

.welcome-user-label {
    -fx-font-size: 32px;           /* Font size */
    -fx-text-fill: -fx-color-light-purple;        /* Text color */
    -fx-background-color: transparent; /* Background color (transparent here) */
    -fx-padding: 10px;             /* Padding around the text */
    -fx-border-color: -fx-color-white;    /* Border color */
    -fx-border-width: 2px;        /* Border width */
    -fx-border-radius: 5px;       /* Border radius (rounded corners) */
}

.time-user-label {
    -fx-font-size: 18px;           /* Font size */
    -fx-text-fill: #6B6868;        /* Text color */
    -fx-background-color: transparent; /* Background color (transparent here) */
    -fx-padding: 10px;             /* Padding around the text */
    -fx-border-width: 2px;        /* Border width */
    -fx-border-radius: 5px;       /* Border radius (rounded corners) */
}

.category-name-label {
   -fx-font-size: 15px;           /* Font size */
   -fx-text-fill: -fx-color-white;        /* Text color */
   -fx-background-color: -fx-color-light-purple; /* Background color (transparent here) */
   -fx-background-radius: 12px;
   -fx-padding: 5px;             /* Padding around the text */
   -fx-border-color: -fx-color-light-purple;    /* Border color */
   -fx-border-width: 2px;        /* Border width */
   -fx-border-radius: 32px;       /* Border radius (rounded corners) */
}
/*******************************************************************************/
.menu-button-label {
    -fx-font-size: 16px;           /* Font size */
    -fx-font-weight: bold;
    -fx-text-fill: -fx-color-purple;       /* Text color */
    -fx-background-color: transparent; /* Background color (transparent here) */
    -fx-padding: 10px;             /* Padding around the text */
    -fx-border-width: 2px;        /* Border width */
    -fx-border-radius: 5px;       /* Border radius (rounded corners) */
}

.menu-button-button-style{
    -fx-background-color: -fx-color-white; /* Background color */
    -fx-background-radius: 15px;    /* Rounded corners */
    -fx-border-color: -fx-color-white;      /* Border color */
    -fx-border-width: 2px;          /* Border width */
    -fx-border-radius: 15px;        /* Border rounded corners */
    -fx-text-fill: white;           /* Text color */
}

.menu-button-green-border-background{
    -fx-background-color:-fx-color-white; /* Background color (transparent here) */
    -fx-background-radius: 11px;       /* Border radius (rounded corners) */
    -fx-border-color: -fx-color-green;    /* Border color */
    -fx-border-width: 1px;        /* Border width */
    -fx-border-radius: 10px;       /* Border radius (rounded corners) */
}

.menu-button-green-effect{
    -fx-background-color: -fx-color-green; /* Background color (transparent here) */
    -fx-background-radius: 10px;       /* Border radius (rounded corners) */
    -fx-border-color: -fx-color-green;    /* Border color */
    -fx-border-width: 7px;        /* Border width */
    -fx-border-radius: 10px;       /* Border radius (rounded corners) */
}

.menu-button-pink-border-background{
    -fx-background-color:-fx-color-white; /* Background color (transparent here) */
    -fx-background-radius: 11px;       /* Border radius (rounded corners) */
    -fx-border-color: -fx-color-pink;    /* Border color */
    -fx-border-width: 1px;        /* Border width */
    -fx-border-radius: 10px;       /* Border radius (rounded corners) */
}

.menu-button-pink-effect{
    -fx-background-color: -fx-color-pink; /* Background color (transparent here) */
    -fx-background-radius: 10px;       /* Border radius (rounded corners) */
    -fx-border-color: -fx-color-pink;    /* Border color */
    -fx-border-width: 7px;        /* Border width */
    -fx-border-radius: 10px;       /* Border radius (rounded corners) */
}

.menu-button-purple-border-background{
    -fx-background-color:-fx-color-white; /* Background color (transparent here) */
    -fx-background-radius: 11px;       /* Border radius (rounded corners) */
    -fx-border-color: -fx-color-light-purple;    /* Border color */
    -fx-border-width: 1px;        /* Border width */
    -fx-border-radius: 10px;       /* Border radius (rounded corners) */
}

.menu-button-purple-effect{
    -fx-background-color: -fx-color-light-purple; /* Background color (transparent here) */
    -fx-background-radius: 10px;       /* Border radius (rounded corners) */
    -fx-border-color: -fx-color-light-purple;    /* Border color */
    -fx-border-width: 7px;        /* Border width */
    -fx-border-radius: 10px;       /* Border radius (rounded corners) */
}
/*******************************************************************************/
/*TASKS STYLES */

/* General styling for the ListView */
.list-view {
    -fx-background-color: -fx-color-white; /* Background color */
    -fx-border-color: -fx-color-white;   /* Border color */
    -fx-border-width: 2px;                /* Border width */
    -fx-border-radius: 32px;              /* Rounded corners */
    -fx-padding: 5px;                     /* Padding inside the ListView */
}

